extends ./layout.jade

block content
    div(style="position: absolute;left: 50%;margin-left: -200px;")
        div(class="demo-card-square mdl-card mdl-shadow--2dp")
            div(class="mdl-card__title")
                h2(class="mdl-card__title-text") Detalles de usuario
            div(class="mdl-card__supporting-text")
                p Nombre:
                p #{persona.Nombre}
                p Apellidos:
                p #{persona.Apellidos}
                p Correo:
                p #{persona.email}
                form(action="/app/delete/#{persona.IDPersona}" method="post")
                    button(style="float:right" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit") Eliminar
                a(href="/app") Regresar
                p #{mensaje}